<p>Comment on this post</p>
<form method="POST" action='/entries/<%=@entry.id%>'>
<input type="text" name="comment[body]" placeholder="Enter comments here">
<input type="submit" value="Post your comment">
</form>